<div class='text-left col-md-8 post-border p-5'>
  <h2 class='custom-h2 mb-3'>{{blogPost.name}}</h2>
  <a href="/blogs/{{blogPost.id}}/edit">Edit</a>
  <p>{{blogPost.description}}</p>
  <p class='mb-5 custom-p'>
    Posted by
    {{blogPost.user.name}}
    on
    {{format_date blogPost.date_created}}
  </p>

{{!-- //show list of comments --}}
{{!--move to partial -> {{> comment}} --}}
<section>
{{#each blogPost.comments as |comment|}}
  <div class='card-body'>
    <p>
      {{comment.comment_text}}
    </p>
    <p>
      Comment by:
      {{#with user}}
      {{{name}}}
      {{/with}}
      on
      {{format_date comment.date_created}}
    </p>
  </div>
  <div>
    <a href="/blogs/{{ ../blogPost.id }}/comments/delete/{{ comment.id }}">Delete</a>
  </div>
{{/each}}
</section>

{{!-- Comment form and button --}}
  {{#if logged_in}}
  <form class="comment-form">
    <div>
        <textarea class="mb-5 p-1" name="comment-text"></textarea>
    </div>
    <div>
      <button type="submit" class='btn btn-primary custom-button-primary'>Add a comment</button>
    </form>
    </div>
  {{/if}} 

  {{!-- console.log('comment-text', comment-text) --}}

  <div>
    <ul>
      <li>ISSUE - name not showing on comment</li>
      <li>TO DO - user who created comment, can edit or delete comment</li>
      <li>TO DO - user who created post can edit post</li>
    </ul>
  </div>
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}