<div class='text-left col-md-8 post-border p-5'>
  <h2 class='custom-h2 mb-3'>{{blogPost.name}}</h2>
  <a href="/blogs/{{blogPost.id}}/edit">Edit</a>
  <p class="white-space-wrap">{{blogPost.description}}</p>
  <p class='mb-5 custom-p'>
    Posted by
    {{blogPost.user.name}}
    on
    {{format_date blogPost.date_created}}
  </p>

{{!-- //show list of comments --}}
{{!--move to partial -> {{> comment}} --}}
<section>
{{#each blogPost.comments as |comment|}}
  <div class='card-body custom-card-body'>
    <p>
      {{comment.comment_text}}
    </p>
    <p>
      Comment by 
      {{#with user}}
      {{{name}}}
      {{/with}}
      on
      {{format_date comment.date_created}}
    </p>
    <div class="display-flex justify-space-between align-center">
      <div>
        <a class="bold" href="/comments/{{comment.id}}/edit">Edit Comment</a>
      </div>
      <div>
        <a class="bold" href="/blogs/{{ ../blogPost.id }}/comments/delete/{{ comment.id }}">Delete Comment</a>
      </div>
    </div>
  </div>
{{/each}}
</section>

{{!-- Comment form and button --}}
  {{#if logged_in}}
  <form class="comment-form">
    <div>
        <textarea class="mb-5 p-1" name="comment-text"></textarea>
    </div>
    <div>
      <button type="submit" class='btn btn-primary custom-button-primary'>Add a comment</button>
    </form>
    </div>
  {{/if}} 

  {{!-- console.log('comment-text', comment-text) --}}

  <div>
    <ul>
      <li>TO DO - user who created comment can edit that comment</li>
      <li>User clicks on Edit Comment button/link which opens a separate page</li>
       <li>On this page the url ends with the comment id e.g. comment/id</li>
       <li>On this page the user can see able to be edited the comment text (comment_text) and a submit button</li>
        <li>After the user edits the comment text, they click the submit button and the page redirects to the blog post page</li>
         <li>On submit the updated comment_text is saved into the the comment table, using the same comment_id (PUT?)</li>
        <li>On the blog post page the updated comment displays</li>
    </ul>
  </div>
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}