<div class='text-left col-md-8 post-border p-5'>
  <h2 class='custom-h2 mb-3'>{{name}}</h2>
  <p>{{description}}</p>
  <p class='mb-5 custom-p'>
    Posted by
    {{user.name}}
    on
    {{format_date date_created}}
  </p>

{{!-- //show list of comments --}}
A list of comments should show here, above the textbox ...
{{!-- {{> comment}} --}}
{{!-- trying the whole thing not the partial--}}
<section>
{{#each comments as |comment|}}
<div class='card-body'>
  <p>
    {{comment.comment_text}}
  </p>
  <p>
    Comment by:
    {{user.name}}
    on
    {{format_date comment.date_created}}
  </p>
</div>
{{/each}}
</section>

{{!-- Comment form and button --}}
  {{#if logged_in}}
  <form class="comment-form">
    <div>
        <textarea class="mb-5 p-1" name="comment-text"></textarea>
    </div>
    <div>
      <button type="submit" class='btn btn-primary custom-button-primary'>Add a comment</button>
    </form>
    </div>
  {{/if}} 

  {{!-- console.log('comment-text', comment-text) --}}

  <div>
    <ul>
      <li>when a user is logged AND is viewing an individual post they can add a comment on
      that post</li>
      <li>WHEN I enter a comment and click on the submit button while signed in
      THEN the comment is saved and the post is updated to display the comment,
      the comment creators name and the date comment is created</li>
      <li>A user can update or delete their own comments</li>
      <li>when a user is not logged in they can view a post and its comments but they cannot add/update/delete a comment</li>
      <li>when a user is viewing the tech blog home page, they can see a total number of comments for each blog post</li>
      <li>when the user is viewing an individual blog post, all that post's comments are listed with the users name and date that they wrote the comment</li>
    </ul>
  </div>
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}