<div class='text-left col-md-8 post-border p-5'>

  <form action='/blogs/{{blogPost.id}}/edit' method='post'>

    {{!-- <input name='title' type='text' value='{{blogPost.name}}' /> --}}
     <textarea name='name'>{{blogPost.name}}</textarea>
    <textarea class="white-space-wrap" name='description'>{{blogPost.description}}</textarea>
    <button type='submit'>Submit</button>

  </form>
  <p class='mb-5 custom-p'>
    Posted by
    {{blogPost.user.name}}
    on
    {{format_date blogPost.date_created}}
  </p>

</div>