<div class='text-left col-md-8 post-border p-5'>
  <h2 class='custom-h2 mb-3'>{{blogPost.name}}</h2>
  <a href="/blogs/{{blogPost.id}}/edit">Edit post</a>
  <p class="white-space-wrap">{{blogPost.description}}</p>
  <p class='mb-5 custom-p'>
    Posted by
    {{blogPost.user.name}}
    on
    {{format_date blogPost.date_created}}
  </p>

{{!-- //show list of comments --}}
{{!--move to partial -> {{> comment}} --}}
<section>
{{#each blogPost.comments as |comment|}}
  <div class='card-body custom-card-body'>
    <p>
      {{comment.comment_text}}
    </p>
    <p>
      Comment by 
      {{#with user}}
      {{{name}}}
      {{/with}}
      on
      {{format_date comment.date_created}}
    </p>
    <div class="display-flex justify-space-between align-center">
      <div>
        <a class="bold" href="/comments/{{comment.id}}/edit">Edit Comment</a>
      </div>
      <div>
        <a class="bold" href="/blogs/{{ ../blogPost.id }}/comments/delete/{{ comment.id }}">Delete Comment</a>
      </div>
    </div>
  </div>
{{/each}}
</section>

{{!-- Comment form and button --}}
  {{#if logged_in}}
  <form class="comment-form">
    <div>
        <textarea class="mb-5 p-1" name="comment-text"></textarea>
    </div>
    <div>
      <button type="submit" class='btn btn-primary custom-button-primary'>Add a comment</button>
    </form>
    </div>
  {{/if}} 

</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}