<div class='container'>
  <div class="mt-5">
  {{#each this.posts}}
    <div class='row p-1'>
      <div class='card custom-card pointerCursor' data-id='{{id}}'>
        <div class='card-header text-bg-secondary'>
          <span class='float-start'> {{title}} </span>
          <span class='float-end'>
            Published on
            {{dateStringForPost}}
            by
            {{user.username}}
          </span>
        </div>
        <div class='card-body'>
          <p
            class='card-text white-space-wrap display-text-height'
          >{{contents}}</p>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
<script src='/js/homePage.js'></script>